div.tag {
	display: inline-block;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 9pt;
	padding: 3px;
} 
.inner {
	max-width: 1024px;
}
#site_info {
	display: inline-block;
}
#profile_pic {
	display: inline-block;
	width: 125px;
	height: 130px;
	border-radius: 50%;
}